/* h1 {
    color: beige;
}

#blue {
    color: lightblue;
}

h1.purple {
    color: purple;
}

p {
    color: brown;
    font-size: 20px;
}

p.purple{
    color: pink;
} */

/* --- start of CSS reset --- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  /*  box-sizing: border-box; */
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* --- end of CSS reset --- */

span {
  width: 300px;
  height: 300px;
  display: block;
  margin-bottom: 10px;
  background-color: rgb(79, 79, 79);
  padding: 20px;
}

.border-box {
  box-sizing: border-box;
}

.border-added {
  border: 10px solid black;
}
